@*@using System.Web;
@model  Task_Client.ViewModel.InvoiceViewModel
@{
    ViewData["Title"] = "Add Invoices";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1> Add A New Invoice </h1>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <!-- Modal -->
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-dialog modal-sm" style="display: inline-grid; align-items: center; justify-content: center;">
                                <div class="modal-content" style="width: 600px">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add Products To Invoices</h4>
                                    </div>
                                    <div id="table-wrapper">
                                          <table id="product-table" style="margin-bottom:20px">
                                             
                                              <tbody>
                                                 
                                              </tbody>
                                          </table>
                                    </div>
                                    <hr />
                                    <div>
                                        <button id="add-row-btn" type="button" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add Row</button>
                                        <button id="remove-row-btn" type="button" class="btn btn-primary"><i class="fa fa-plus-circle">Remove Row</button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Save Invoice</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button style="position:fixed; right: 25px; bottom:65px;" type="button" class="btn btn-info btn-lg text-white" data-toggle="modal" data-target="#myModal">Add Invoice</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {



    <script>
        $(function () {
            $('#add-row-btn').click(function () {
                var firstRow = $('#product-table tr:first');
                var newRow = firstRow.clone();
                newRow.find('input').val('');
                $('#product-table').append(newRow);
            });

            $('#remove-row-btn').click(function () {
                var rows = $('#product-table tr');
                if (rows.length > 1) {
                    rows.last().remove();
                }
            });

            // Delete row from the table
            $(document).on('click', '.delete-row-btn', function () {
                $(this).closest('tr').remove();
            });
        });
    </script>
}*@