 @model Task_Entities.Entities.Invoice

<td>
    <div class="form-group">
        <label asp-for="TitleOfInvoice" class="control-label"></label>
        <input asp-for="TitleOfInvoice" class="form-control" />
        <span asp-validation-for="TitleOfInvoice" class="text-danger"></span>
    </div>
</td>  