@*@model Task_Client.ViewModel.InvoiceViewModel*@
@model Task_Entities.Entities.Invoice

<label>Title of Invoice</label>
<input type="text" asp-for="TitleOfInvoice" class="form-control" />


@*<h2>@Model.TitleOfInvoice</h2>
<p>Date: @Model.Date.ToString("dd/MM/yyyy")</p>*@
<hr />