@model Task_Entities.Entities.Product

@{
    ViewData["Title"] = "Add Product";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1> Add A New Product </h1>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <img class="rounded-circle border-info" style="max-width:150px; max-height:250px" id="ProfilPicturePreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="TitleOfProduct" class="control-label"></label>
                        <input asp-for="TitleOfProduct" class="form-control" />
                        <span asp-validation-for="TitleOfProduct" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <input asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding-top:10px;">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        console.log("dddd");

        $(document).ready(function () {
            var output = document.getElementById('ProfilPicturePreview');
            output.src = $("#ImageUrl").val();
        })


        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('ProfilPicturePreview');
            output.src = $(this).val();
        })

    </script>
    }